html {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: #eeefea;
}
/* Top Navigation */
.topnav #myLinks {
  display: none;
}

.topnav {
  position: sticky;
  top: 0;
  height: 7rem;
  width: 80%;
  padding: 0rem 1.5rem 0rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobilelogo {
  width: 7rem;
  height: 5rem;
}

.largescreenlogo {
  display: none;
}

.menulinks {
  position: absolute;
  background-color: #191921;
  text-align: center;
  margin-left: 10rem;
  width: 13rem;
  height: 13.5rem;
  z-index: 2;
}

.menulinks a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: block;
  padding: 1rem 0rem 0rem 0rem;
  line-height: 3rem;
}

.menulinks a:hover {
  background-color: #ddd;
  color: black;
}
/* End of Top Navigation */

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem 4rem 0rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  grid-gap: 30px;
}

.gallery img {
  width: 100%;
}

h1 {
  font-family: "Nunito Sans", sans-serif;
  margin-left: 6.3rem;
  font-weight: 800;
}

p {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  margin: 1em;
}

a {
  text-decoration: none;
  padding: 5px;
}

footer {
  background-color: #2e2e2e;
  height: 50em;
}
.footerlogo {
  padding-top: 8.5rem;
  margin-left: 7.5rem;
}
.emailtitle {
  color: #ffffff;
  letter-spacing: 2px;
  text-align: center;
}
.emaillink {
  font-family: "Nunito Sans", sans-serif;
  margin-left: 5.6rem;
  font-weight: 500;
  font-size: 1.0625rem;
}
.footernavlinks {
  font-family: "Nunito Sans", sans-serif;
  margin-right: 2px;
  margin-top: 3em;
  font-weight: 500;
  font-size: 0.9375rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.footernavlinks a {
  color: #fff;
}
.quotedisplay {
  color: #ffffff;
  margin: 1rem;
  margin-top: 5rem;
  text-align: center;
  line-height: 1.5rem;
  font-size: 0.75rem;
}
.sci {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10px;
  margin-left: 0.8rem;
}
.sci li {
  margin-right: 15px;
  list-style: none;
}
.sci li img {
  transform: scale(0.5);
  opacity: 0.7;
}
.sci li img:hover {
  transform: scale(1);
}
.copyright {
  color: #ffffff;
  text-align: center;
  margin-top: 10rem;
}
/*Hamburger Menu and Animations*/
:root {
  --animation-curve: cubic-bezier(1, 0, 0, 1);
}
.menu-icon {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  display: block;
}

label {
  width: 2rem;
  height: 0.3125rem;
  background-color: black;
  position: absolute;
  cursor: pointer;
  display: block;
}

label::before,
label::after {
  content: "";
  width: 2rem;
  height: 0.3125rem;
  background-color: black;
  position: absolute;
  display: block;
  transition: all 0.3s var(--animation-curve);
}

label::before {
  top: 0.6rem;
  left: 0%;
  transform-origin: left top;
  transform: rotateZ(0deg);
}

label::after {
  bottom: 0.6rem;
  left: 0%;
  transform-origin: left bottom;
}

#toggle:checked ~ label::before {
  background-color: black;
  transform: rotate(-37deg);
}

#toggle:checked ~ label::after {
  background-color: black;
  transform: rotate(37deg);
}

#toggle:checked ~ label {
  background-color: #eeefea;
}

#toggle:checked ~ nav {
  left: 45rem;
}

#toggle ~ label {
  transition: all 0.3s var(--animation-curve);
}

input {
  display: none;
}
/* End of Hamburger Animation*/

/* Start of Media Queries */
@media only screen and (min-width: 768px) {
  /*Top Navigation*/
  .topnav {
    display: none;
  }
  .largescreentopnav {
    display: flex;
    flex-direction: row;
    top: 0;
    height: 3rem;
    width: 100%;
    padding: 0 0rem;
  }
  .largescreenlogo {
    display: flex;
    flex-direction: row;
    padding: 0rem 0rem 0rem 1rem;
    margin: 0rem 0rem 0rem 0rem;
    width: 11rem;
    height: 7rem;
  }

  .menulinks {
    position: absolute;
    display: flex;
    flex-direction: row;
    z-index: 1;
    padding-left: 19.3rem;
    margin-top: 3.3rem;
    width: 0rem;
    height: 0rem;
  }
  .menulinks a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    margin-top: 0rem;
    padding: 0rem 0.5rem 0rem 1rem;
    line-height: 0rem;
  }
  .menulinks a:hover {
    background-color: #ddd;
    color: black;
  }
  .active {
    background-color: #04aa6d;
    color: white;
  }
  /* End of Top Navigation */

  h1 {
    font-family: "Nunito Sans", sans-serif;
    margin-left: 13rem;
  }
  .container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0rem 3rem 0rem;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    grid-gap: 30px;
  }
  .footerlogo {
    padding-top: 8.5em;
    margin-left: 18.7rem;
  }
  .emaillink {
    font-family: "Nunito Sans", sans-serif;
    margin-left: 18rem;
    font-weight: 500;
    font-size: 1.0625rem;
  }
  .sci {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px;
    margin-left: 13rem;
  }
  .copyright {
    margin-top: 8rem;
  }
  /* Hamburger Menu */
  .menu-icon {
    display: none;
  }
  label {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  /*Top Navigation*/
  .topnav {
    display: none;
  }
  .largescreentopnav {
    display: flex;
    flex-direction: row;
    top: 0;
    height: 11rem;
    width: 100%;
    padding: 0 0rem;
  }
  .largescreenlogo {
    display: flex;
    flex-direction: row;
    padding: 0rem 9.5rem 0rem 3rem;
    margin: 0rem 0rem 0rem 0rem;
  }
  .menulinks {
    background-color: violet !important;
    position: absolute;
    display: flex;
    flex-direction: row;
    z-index: 1;
    padding-left: 47rem;
    margin-top: 3.2rem;
    width: 0rem;
    height: 0rem;
  }
  .menulinks a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    margin: 0rem 0rem 0rem 3rem;
    padding: 0rem 0.5rem 0rem 0rem;
    line-height: 0rem;
  }
  .menulinks a:hover {
    background-color: #ddd;
    color: black;
  }
  .active {
    background-color: #04aa6d;
    color: white;
  }
  /* End of Top Navigation */

  .logoimg {
    margin-top: 1.6875rem;
  }
  .container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0rem 4rem 0rem;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    grid-gap: 30px;
  }

  h1 {
    font-family: "Nunito Sans", sans-serif;
    margin-left: 28rem;
  }
  p {
    line-height: 1.5rem;
  }
  .footerlogo {
    padding-top: 9.5em;
    margin-left: 37.1rem;
  }
  .emaillink {
    font-family: "Nunito Sans", sans-serif;
    margin-left: 36rem;
    font-size: 1.0625rem;
  }
  .emaillink a {
    color: #fff;
  }
  .emaillink a:hover {
    color: blue;
  }
  .sci {
    height: 10px;
    margin-left: 31.25rem;
  }
}
